<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Ajout des Produits</title>
</head>

<body>
	<div th:replace="template"></div>
	<div class="container mt-5">
		<div class="card">
			<div class="card-header" hidden th:if="${mode=='new'}"> Ajout des Films </div>
			<div class="card-header" hidden th:if="${mode=='edit'}">Modification des Produits </div>
			<div class="card-body">
				<form th:action="@{saveFilm}" method="post">
					<input name="page" class="form-control" th:value="${page}" />
					<input name="size" class="form-control" th:value="${size}" />
					<div class="form-group">
						<label class="control-label" hidden>ID Produit :</label>
						<input type="hidden" name="idFilm" class="form-control" th:value="${film.idFilm}" />
					</div>
					<div class="form-group">
						<label class="control-label">Nom Film :</label>
						<input type="text" name="nomFilm" class="form-control" th:value="${film.nomFilm}" />
						<span th:errors=${film.nomFilm} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Prix Produit :</label>
						<input type="text" name="prixFilm" class="form-control" th:value="${film.prixFilm}" />
						<span th:errors=${film.prixFilm} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label"> date Publication :</label>
						<input type="date" name="datePublication" class="form-control"
							th:value="${film.datePublication}" />
						<span th:errors=${film.datePublication} class="text-danger"> </span>
					</div>
					<div class="form-group">
						<label class="control-label">Genre :</label>

						<select name="genre" class="form-control" th:if="${!#strings.isEmpty(film.genre)}"
							th:value="${film.genre.idGenre}">

							<option th:each="g : ${genre}" th:value="${g.idGenre}" th:text="${g.nomGenre}"
								th:selected="${g.idGenre == film.genre.idGenre}">
							</option>
						</select>

						<select name="genre" class="form-control" th:if="${#strings.isEmpty(film.genre)}">

							<option th:each="g : ${genre}" th:value="${g.idGenre}" th:text="${g.nomGenre}">
							</option>
						</select>
					</div>

					<div>
						<button type="submit" class="btn btn-primary">Ajouter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>